
.inter-body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-nav {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header{
    background-image: url(./Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 30px 40px;
}

button{
    border: none;
}


/* Nav Styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px 0px 100px;
}

.nav-title {
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}

ul li {
    list-style-type: none;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border-color: none;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin: 100px 100px 100px 100px;
}

.action{
    margin: 127px 141px;
    display: flex;
    justify-content: center;
    gap: 220px;
}


.action img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

.act-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.act-description{
    font-size: 24px;
    color: #252432;
}

.feedback-stat{
    display: flex;
    justify-content: center;
    gap: 158px;
}

.feedback-stat h1{
    
}

.feedback{
    margin: auto 141px;
    text-align: center;
    background-color: #e5e7ff;
    padding: 20px 30px;
    border-radius: 24px ;
}

.cd-main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.card-nain{
    width: 600px;
    margin: 0px 50px;
}
.card-main h1{
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
}
.card{
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 5px;
}
.card-inner{
    width: 700px;
    display: flex;
    justify-content: space-around;
    
}
.star1{
    height: 10px;
    margin-bottom: 0px;
}
.card h4{
    font-size: 18px;
    margin: 0px 5px;
}
.card p{
    font-size: 10px;
    margin: 5px;
    color: grey;
    padding: 0px 20px 0px 0px;
}
.card-img-set{
    display: flex;
}
.com-dit h5{
    margin: 5px;
    padding: 0px;
    color: rgb(43, 41, 41);
    font-weight: 100;
}
.com-dit p{
    margin: 5px;
    padding: 0px;
    color: grey;
}
.card-img1{
    border-radius: 50%;
    height: 30px;
    margin-top: 5px;
}
.card:hover{
    box-shadow: 8px 5px 2px rgb(238, 238, 238);
    background-color: rgb(227, 239, 255);
    transition: 0.5s;
}